GRAPH_TENANT_ID=your_value
GRAPH_CLIENT_ID=your_value
GRAPH_CLIENT_SECRET=your_value
SHAREPOINT_SITE_ID=your_value
FINANCE_SITE_ID=your_value
STRATEGY_SITE_ID=your_value
GIFTING_FILE_ID=your_value
EVENTS_FILE_ID=your_value
CREATOR_FILE_ID=your_value
FINANCE_FILE_ID=your_value
FINANCE_SUMMARY_FILE_ID=your_value
MEETINGS_FILE_ID=your_value
VIDEO_FILE_ID=your_value
SALES_FILE_ID=your_value
ANTHROPIC_API_KEY=your_value
APP_PASSWORD=tidepool2025
